doctype html
html
    head
        include ./../includes/meta
        title="This application"
    body
        //include ./../includes/header
        block content
        block banner
        //include ./../includes/footer
        block script